/* Global Reset and Base Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
  }
  
  /* Vertical Sticks */
  .vertical-stick {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: white;
    z-index: 10;
  }
  .vertical-stick-center {
    left: 50%;
    transform: translateX(-50%);
  }
  .vertical-stick-left {
    left: 20%;
  }
  .vertical-stick-right {
    right: 20%;
  }
  
  /* Ripple Animation for FancyButton */
  @keyframes ripple {
    from {
      transform: scale(0);
      opacity: 0.5;
    }
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
  .animate-ripple {
    animation: ripple 0.6s linear;
  }
  
