.input-field{
    width: 80%;
    background-color: transparent;
    border: 1px solid #424242;
    border-radius: 8px;
    padding: 0.275rem 0.5rem;
    color: white;
    outline: none;
    transition: all 0.3s;
    &::placeholder {
      color: #484848;
    }
  }
  
  /* Hide border when input is focused or has text */
  .input-field:focus,
  .input-field:not(:placeholder-shown) {
    border-color: transparent;
  }
  
  /* Placeholder color */
  .input-field::placeholder {
    color: #484848;
  }