#root {
  text-align: center;
}

.mascot-animation{
  transition: transform 1s ease-in-out;
  animation-play-state: paused;
}

.mascot-animation:hover{
  animation: mascot 2s ease-in-out infinite alternate;
  animation-fill-mode: backwards;
  animation-play-state: running;
}

@keyframes mascot {
  50%{
    transform: scale(1.25) translate(0,10%);
  }
  100%{
    transform: scale(1) translate(0,0);
  }
}
