#root {
  text-align: center;
}

.mascot-animation{
  animation: mascot 2s ease-in-out infinite;
}

@keyframes mascot {
  50%{
    transform: scale(1.25) translate(0,10%);
  }
  100%{
    transform: scale(1) translate(0,0);
  }
}

.hero-text-1{
  animation: heroTextOne 6s ease-in-out infinite;
  transition: opacity 0.2s;
}

.hero-text-2{
  animation: heroTextTwo 6s ease-in-out infinite;
  transition: opacity 0.2s;
  opacity: 0.5;
  top: 150%;
}

.hero-text-3{
  animation: heroTextThree 6s ease-in-out infinite;
  transition: opacity 0.2s;
  opacity: 0;
  top: 150%;
}

@keyframes heroTextOne{
  25%{
   opacity: 0;
   top: 50%;
  }
  50%{
  opacity: 0;
  top: 150%;
  }
  75%{
  opacity: 1;
  top: 150%;
  }
  100%{
    opacity: 1;
    top: 50%;
  }
}

@keyframes heroTextTwo{
  25%{
   opacity: 1;
   top: 50%;
  }
  50%{
    opacity: 0;
    top: 50%;
  }
  75%{
    opacity: 0;
    top: 150%;
  }
  100%{
    opacity: 1;
    top: 150%;
  }
}
@keyframes heroTextThree{
  25%{
   opacity: 1;
   top: 150%;
  }
  50%{
   opacity: 1;
   top: 50%;
  }
  75%{
   opacity: 0;
   top: 50%;
  }
  100%{
    opacity: 0;
    top: 150%;
  }
}
