#root {
  text-align: center;
}

.mascot-animation{
  animation: mascot 2s ease-in-out infinite;
  animation-play-state: paused;
}

@keyframes mascot {
  50%{
    transform: scale(1.25) translate(0,10%);
  }
  100%{
    transform: scale(1) translate(0,0);
  }
}

.hero-text-1{
  animation: heroTextOne 6s ease-in-out infinite;
  transition: opacity 0.2s;
}

.hero-text-2{
  animation: heroTextTwo 6s ease-in-out infinite;
  transition: opacity 0.2s;
  opacity: 0.5;
  top: 150%;
}

.hero-text-3{
  animation: heroTextThree 6s ease-in-out infinite;
  transition: opacity 0.2s;
  opacity: 0;
  top: 150%;
}

@keyframes heroTextOne{
  0%{
    opacity: 1;
    top: 50%;
  }
  32%{
    opacity: 0;
    top: 50%;
  }
  33%{
    opacity: 0;
    top: 150%;
  }
  66%{
    opacity: 1;
    top: 150%;
  }
  100%{
    opacity: 1;
    top: 50%;
  }
}

@keyframes heroTextTwo{
  0%{
    opacity: 1;
    top: 150%;
  }
  33%{
    opacity: 1;
    top: 50%;
  }
  65%{
    opacity: 0;
    top: 50%;
  }
  66%{
    opacity: 0;
    top: 150%;
  }
  100%{
    opacity: 1;
    top: 150%;
  }
}

@keyframes heroTextThree{
  0%{
    opacity: 0;
    top: 150%;
  }
  33%{
    opacity: 1;
    top: 150%;
  }
  66%{
    opacity: 1;
    top: 50%;
  }
  99%{
    opacity: 0;
    top: 50%;
  }
  100%{
    opacity: 0;
    top: 150%;
  }
}

.mobile-navbar{
  animation: navbarAnimation 1.2s ease-in-out forwards;
}

.mobile-navbar-closed{
  animation: navbarCloseAnimation 1.2s ease-in-out forwards;
}

@keyframes navbarAnimation {
  100%{
    bottom: 10%;
  }
}

@keyframes navbarCloseAnimation {
  100%{
    bottom: 100%;
  }
}
