@import "tailwindcss";

@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;

  color-scheme: light dark;
  color: #ffffff; 
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme{
  --color-background: #141414;
  --color-blue: #6762ff;
  --color-red: #b60000;
  --color-purple: #532e8f;
  --color-lavender: #cd95ff;
  --color-light-pink: #ffbaba;
  --font-sometypeMono: "Sometype Mono";
}

.infinite-scroll-carousel{
  animation: infiniteScroll 20s linear infinite;
}

@keyframes infiniteScroll {
    0% {
      transform: translate(0,0)
    }
    100%{
      transform: translate( calc(-50% - 25px), 0)
    }
  }

  .infinite-scroll-gallery{
  animation: infiniteScrollGallery 20s linear infinite;
}

@keyframes infiniteScrollGallery {
    0% {
      transform: translate(0,0)
    }
    100%{
      transform: translate( calc(-50% - 8px), 0)
    }
  }
